.app-container{
    background-image: linear-gradient(#ffeeee,#ffc0bb);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    padding: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.feedback-question-container{
    display: flex;
    flex-direction: column;
    
}

.heading{
    font-family: "Roboto";
    color: #0f172a;
}

.emojis-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding: 0px;
}

.button{
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.emoji{
    width: 45px;
    height: 45px;
    margin-left: 40px;
    margin-right: 40px;
}

.name{
    font-family: "Roboto";
    color:#1e293b;
    font-size: 16px;
}

.thankyou-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.love-emoji{
    width: 60px;
    height: 54px;
}

.thankyou-text {
    text-align: center;
    color: #0f172a;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
}

.description {
    text-align: center;
    color: #0f172a;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
}